<?xml version="1.0" encoding="UTF-8"?>

<!-- The bootstrap has been altered to support ExistingSite tests. -->
<phpunit bootstrap="bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
</phpunit>
